.mainDiv {
    border-left: .8rem solid #bb9c56;
    border-right: .8rem solid #bb9c56;
}
.secondDiv {
    border: .6rem solid #bb9c56;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0rem .6rem
}