@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");

.form {
  display: flex;
  flex-direction: column;
}
.formSpacing {
  margin-bottom: 2.6rem;
}
.formSpacingRegister {
  margin-bottom: 1.6rem;
}
.formH1 {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  color: #bb9c56;
}
.field {
  padding: 1rem 0.8rem;
  border: 2px solid #bb9c56;
  border-radius: 4px;
}
.label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.doubleInputOne {
  width: 7rem;
}
.doubleInputTwo {
  width: 13rem;
}
.doubleInputThree {
  width: 8.1rem;
}
.button {
  background-color: #bb9c56;
  border-radius: 1rem;
  font-size: 2.2rem;
  padding: 1rem 0.8rem;
  font-weight: bold;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
}
.buttonRegister {
  font-family: "Six Caps", sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  padding: 1rem 1.4rem;
}
.buttonRegistering {
  font-family: "Six Caps", sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  padding: 1rem 2.6rem;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
}
.button:hover {
  background-color: #ffd700;
}
.button:active {
  background-color: #b39700;
}
input:hover {
  border: 2px solid #ffd700;
}
input:active {
  border: 2px solid #0f2b33;
}
.inputRemember {
  margin-right: 0.5rem;
}
.selectForm {
  background-color: #0f2b33;
  border-radius: 4px;
  padding: 1rem 0.4rem;
  width: 12.4rem;
  color: #b39700;
  margin-bottom: 1rem;
  font-size: 0.96rem;
  height: 3.6rem;
  border: 2px solid #bb9c56;
}
.selectForm:hover {
  border: 2px solid #ffd700;
}
.divDoubleInput {
  display: flex;
  justify-content: space-between;
}
.initialOptionForm {
  background-color: #d3e8d3;
  color: black;
}
.formPasswordRequirements {
  color: #0f2b33;
  margin-top: 0.4rem;
  font-size: 0.8rem;
  margin-bottom: 4rem;
}
.formUserH2 {
  color: #0f2b33;
  margin-top: 0.4rem;
  font-size: 1.2rem;
}
.buttonDivRegister {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.birthDiv {
  display: flex;
  justify-content: space-between;
}
.birthOption {
  background-color: #0f2b33;
  border-radius: 4px;
  padding: 1rem 1rem;
  width: 6rem;
  color: #b39700;
  margin: 0rem 0rem 3rem;
  font-size: 1rem;
  font-weight: bolder;
  height: 3.5rem;
  border: 2px solid #bb9c56;
}
.birthOptionYear {
  width: 7rem;
}
.formUpload {
  font-size: 1rem;
}
.registerH3 {
  color: #b39700;
  margin-bottom: 1.2rem;
}
.h3Spacing {
  margin-top: 1.6rem;
}
.photoUpload {
  color: #bb9c56;
}
.photoUpload:hover {
  border: none;
}.photoUpload:active {
  border: none;
}
@media only screen and (max-width: 405px) {
  .formH1 {
    font-size: 1.2rem;
    margin: 0rem 0rem 0.8rem;
  }
  .button {
    font-size: 2rem;
    padding: 0.6rem 0rem;
  }
  .formUserH2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .formPasswordRequirements {
    font-size: 1rem;
    margin-right: -1rem;
    margin-top: 0.4rem;
  }
  .buttonRegister {
    font-size: 1.6rem;
    padding: 1rem 1.4rem;
  }
  .buttonRegistering {
    font-size: 1.6rem;
    font-weight: lighter;
    padding: 0rem 2.4rem;
  }
  .doubleInputTwo {
    width: 10rem;
  }
  .doubleInputThree {
    width: 7rem;
  }
  .selectForm {
    width: 10rem;
  }
  .photoUpload {
    width: 19rem;
  }
  .buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonRegister {
    width:14rem;
    height: 4rem;
    margin-bottom: 1rem;
  }
  .buttonRegistering {
    width: 14rem;
    height: 4rem;
  }
  .button {
    height: 4rem;
  }
}
