.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #bb9c56;
  }
  
  .formButtonDiv {
      display: flex;
      justify-content: space-between;
      padding-bottom: .2rem;
  }
  .formButton {
      background-color: #bb9c56;
      margin: .1rem .3rem;
      padding: 1.2rem 5rem;
      border-radius: .8rem;
  }
  .formButton:hover {
      background-color: #ffd700;
  }
  .formButton:active {
      background-color: #b39700;
  }
  .borderContainer {
    width: 100%;
    max-width: 360px;
    padding-top: 3px;
    border-radius: 12px;
    margin: 0 auto;
    border: 5px solid #bb9c56;
  }
  .borderContainerLogin {
      height: 41.4rem;
  }
  .borderContainerRegister {
      height: 50.3rem;
  }
  @media only screen and (max-width: 480px) {
    .borderContainer {
      border: none;
    }
  }
  
  .formContainer {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    background-color: #d3e8d3;
    border: 5px solid #bb9c56;
    padding: 2.8rem;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 5px rgba(150, 150, 150, 0.15);
  }
  .formContainerLogin {
      height: 36rem;
  }
  .formContainerRegister {
      height: 49rem;
  }