.headerNav {
  display: flex;
  padding: 0em;
  list-style-type: none;
  background-color: #202F36;
  border-top: 1rem solid #b39700;
  border-right: 1rem solid #b39700;
  border-left: 1rem solid #b39700;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-size: 1.3rem;
  min-height: 10vh;
  align-items: center;
}

.headerNav>li {
  margin-top: 0;
}

.headerNav>li>a {
  display: block;
  padding: 0.5em 0rem;
  color: #b39700;
  text-decoration: none;
}

.headerNav>li+li {
  margin-left: 1.2rem;
}

.headerNav>.navRight {
  margin-left: auto;
  position: relative;
  display: inline-block;
  padding: 0.5em 2rem;
  color: #b39700;
}

.logoHeader {
  width: 4.4rem;
  height: 3.8rem;
  margin: -1rem -.8rem -1rem .4rem;
}

@media only screen and (min-width: 480px) {
  .headerNav {
    padding: 0.9em;
    font-size: 1.3rem;
  }

  .headerNav>li>a {
    padding: 0.5em 1em;
  }

  .headerNav>li+li {
    margin-left: 1.5em;
  }

  .headerNav>.navRight {
    padding: 0.5em 1em
  }

  .logoHeader {
    width: 6rem;
    height: 4.4em;
    margin: -1rem .2rem -1rem .6rem;
  }
}

.dropDown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  padding: 1em 0;
  font-size: 1.2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav>.navRight:hover .dropDown {
  display: block;
}

.dropDown a {
  display: block;
}

.dropDown li a {
  text-align: center;
  padding: 0.3em 1em;
}

.dropDown li a:hover {
  background-color: #b39700;
  color: #202F36;
}