.headerNav {
  display: flex;
  padding: 0em;
  list-style-type: none;
  background-color: #202f36;
  border-top: 0.8rem solid #bb9c56;
  border-right: 0.8rem solid #bb9c56;
  border-left: 0.8rem solid #bb9c56;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  min-height: 10vh;
  align-items: center;
}
.headerNav ul {
  list-style-type: none;
}
.headerNav > li {
  margin-top: 0;
}

.headerNav > li > a {
  display: block;
  padding: 0.5em 0rem;
  color: #bb9c56;
  text-decoration: none;
}

.headerNav > li + li {
  margin-left: 2rem;
}

.headerNav > .navRight {
  margin-left: auto;
  position: relative;
  display: inline-block;
  padding: 0.5em 2rem;
  color: #bb9c56;
}

.logoHeader {
  width: 5rem;
  height: 4.6rem;
  margin: -.4rem -.8rem -1rem 1rem;
}
.logoSocialMedia {
  width: 100%;
  height: 100%;
}
.socialBorder:hover {
  border: 3px solid #ffd700;
  padding: 0 auto;
}
.socialBorder {
  border: 2px solid #bb9c56;
  border-radius: 2rem;
  margin: 0rem 1rem;
  padding: .2rem;
  width: 3.6rem;
  height: 3.6rem;
}
.socialDiv {
  display: flex;
  margin-left: auto;
  position: relative;
  justify-content: space-between;

}

@media only screen and (max-width: 480px) {
  .headerNav>.navRight {
    padding: 0.5em 2rem .5rem .8rem;
  }
  li {
    font-size: 1.1rem;
  }
  .socialBorder {
    width: 3rem;
    height: 3rem;
    margin: 0rem .4rem;
  }
}
.dropDown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  padding: 1em 0;
  font-size: 1.2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.headerNav > .navRight:hover .dropDown {
  display: block;
  background-color: #202f36;
}
.headerNav > .navRight:hover{
  color: #202f36;
  background-color: #bb9c56;
}
.dropDown a {
  display: block;
}
.logOutHover {
  margin-right: .8rem;
}
.logOutHover:hover {
  border-radius: 1rem;
  background-color: #202f36 !important;
  border: 2px solid #bb9c56;
}
.dropDown li a {
  text-align: center;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #bb9c56;
}

.dropDown li a:hover {
  background-color: #bb9c56;
  color: #202f36;
}
