@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");

.mainTitle {
  font-family: "Six Caps", sans-serif;
  font-size: 3rem;
}
.newsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsBorderOut {
  border: 2px solid #bb9c56;
  padding: 0.4rem;
  margin: 1rem;
}
.newsBorderIn {
  border: 2px solid #bb9c56;
  text-align: center;
  height: 100%;
  padding: 0.6rem;
}
.newsBorderIn:hover {
  border: 2px solid #ffd700;
}
.newsBorderIn:hover .titleNews {
  color: #d7b804;
}
.newsBorderOut:hover {
  border: 2px solid #ffd700;
}
.titleNews {
  color: #bb9c56;
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Edu QLD Beginner", cursive;
  margin-bottom: 0.8rem;
}
.titleNewsInside {
  color: #bb9c56;
  font-weight: bold;
  margin-top: -2rem;
  font-size: 3.4rem;
  font-family: "Six Caps", sans-serif;
  margin-bottom: 2rem;
}
.pNews {
  color: #bb9c56;
  font-family: "Finlandica", sans-serif;
  font-size: 1.8rem;
  margin: .88rem;
  text-align: justify;
}
.pNewsInside {
  color: #bb9c56;
  font-family: "Finlandica", sans-serif;
  font-size: 1.6rem;
  text-align: justify;
  margin: 0rem 3rem 2rem;
}
.newsButton {
  padding: 0.3rem 0.2rem;
  border-radius: 1rem;
  float: right;
  margin: 2rem 1rem;
  border: 2px solid #bb9c56;
  background-color: #202f36;
  color: #bb9c56;
  font-family: "Edu QLD Beginner", cursive;
  font-size: 1.3rem;
  font-weight: bolder;
}
.buttonLeft {
  float: left;
}
.newsButton:hover {
  border: 2px solid #ffd700;
  color: #ffd700;
}
.borderButton:hover {
  border: 2px solid #ffd700;
}
.borderButton {
  border: 2px solid #bb9c56;
  border-radius: 0.6rem;
  padding: 0.8rem;
}
.divFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.invisible {
  margin-top: 4rem;
  font-size: 1.2rem;
  color: #202f36;
}
.newsBorderIn:hover .invisible {
  color: #d7b804;
}
.divNews {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pNewsInside a {
  color: #ffd700;
}
/* events */
.justCenter {
  text-align: center;
  justify-content: center;
  justify-items: center !important;
  margin: 0 auto;
}
.eventBorderOut {
  border: 2px solid #bb9c56;
  padding: .4rem;
  border-radius: .6rem;
  width: 90%;
  margin-bottom: 1rem;
}
.eventBorderIn {
  border: 2px solid #bb9c56;
  padding: .6rem;
  border-radius: .2rem;
  color: #bb9c56;
  display: flex;
  flex-direction: column;
}
.eventInvisible {
  font-size: .0001rem;
  color: #202f36;
}
.eventBorderOut:hover {
  border-color: #d7b804;
}
.eventBorderIn:hover {
  border-color: #d7b804;
}
.eventH1 {
  margin: 1rem 0rem;
  font-family: "Edu QLD Beginner", cursive;
}
.eventBorderOut:hover .eventH1 {
  color: #d7b804;
}
.eventBorderOut:hover .label {
  color: #d7b804;
  margin-top: .8rem;
}
.eventBorderOut:hover .eventInvisible {
  color: #bb9c56;
  font-size: 1.4rem;
  text-align: justify;
  margin: 0rem 4rem 1rem;
  font-family: "Finlandica", sans-serif;
}
.eventForm {
  display: flex;
  flex-direction: column;
}
.formSpacing {
  margin-bottom: .6rem;
}
.eventBorderOut:hover .field {
  padding: .6rem 0.8rem;
  border: 2px solid #bb9c56;
  border-radius: 4px;
  background-color: white;
  margin: 0rem 0rem .8rem;
}
.field {
  background-color: #202f36;
  padding: 0;
  margin: -1rem 0rem;
  color: #202f36;
}
::placeholder {
  color: #202f36;
}
.label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.buttonDiv {
  display: flex;
  justify-content: right;

}
.eventBorderOut:hover .button {
  background-color: #bb9c56;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: .2rem .4rem;
  width: 40%;
  max-width: 20rem;
  font-weight: bold;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  margin: 1rem 0rem;
}
button {
  background-color: #202f36;
  color: #202f36;
}
.eventBorderOut:hover .button:hover {
  background-color: #ffd700;
}
.eventBorderOut:hover .button:active {
  background-color: #b39700;
}
@media only screen and (min-width: 480px) {
  .newsComputerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .newsBorderOut {
    width: 40vw;
  }
  .label {
    font-size: 1.6rem;
  }
  .buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .eventBorderOut:hover .field {
    margin: 0 auto;
  }
  .eventBorderOut:hover .button {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 702px) {
  .newsBorderOut {
    width: 100% !important;
  }
}